[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
colorama = "==0.4.6"
commonmark = "==0.9.1"
pygments = "==2.15.1"
rich = "==10.7.0"
tinydb = "==4.5.1"
typer = "==0.3.2"

[dev-packages]

[requires]
python_version = "3.10"
